.header {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8)
  );
  /* url(../public/img/header.jpg); */
  /* background-position: 50%;
  background-size: cover;
  padding: rem; */
  padding: 0.8rem;
}
.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navegacion ul {
  margin-top: 5rem;
  display: flex;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .navegacion ul {
    margin-top: 0rem;
  }
}
.navegacion a {
  color: var(--blanco);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.navegacion a:hover {
  background-color: var(--primary);
}
