.header {
  background-color: var(--negro);
  padding: 2rem;
}
.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .barra a {
  font-weight: 900;
  color: var(--blanco);
} */
.sketchy {
  padding: 1rem;
  display: inline-block;
  border: 0.1rem solid #fff;
  font-size: 2.5rem;
  border-radius: 2% 60% 5% 10% / 1% 1% 1% 50%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: var(--negro);
  position: relative;
  font-family: "Just Another Hand", cursive;
}
.sketchy a {
  font-weight: 900;
  color: var(--blanco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.sketchy::before {
  content: "";
  border: 0.1rem solid var(--blanco);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 10% 50% 5% 4% / 50% 10% 50% 40%;
}
@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.navegacion ul {
  display: flex;
  gap: 1rem;
}
@media (min-width: 768px) {
  .navegacion ul {
    margin-top: 0rem;
  }
}
.navegacion a {
  color: var(--blanco);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.navegacion a:hover {
  background-color: var(--primary);
}
